@keyframes glitch-before {
	$steps: 20;

	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			clip: rect(random(50) + px, 350px, random(50) + px, 30px);
		}
	}
}

@keyframes glitch-after {
	$steps: 20;

	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			clip: rect(random(50) + px, 50px, random(50) + px, 15px);
		}
	}
}

:root {
	--shadow-color: #ff9e9e;
	--shadow-color-light: rgba(255, 255, 255, 0.582);
}
