.header {
	max-width: 100%;
	min-height: 900px;
	width: 100%;
	overflow: hidden;
	height: 100vh;
	background: url(img/6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	transition: transform 0.4s ease-in;
}

.header::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.596);
	z-index: 0;
}
.module {
	display: none;
	visibility: hidden;
}
.container {
	position: relative;
	max-width: 940px;
	width: 100%;
	min-height: 500px;
	height: 45%;
	margin: 0 auto;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	& .nav {
		z-index: 3;
		height: 74px;
		width: 100%;
		display: flex;
		justify-content: space-between;

		&__logo {
			filter: blur(0.6px);
			padding-top: 45px;
			text-align: center;
			width: 140px;
			color: #fff;
			font-family: 'Roboto', sans-serif;
			letter-spacing: 2px;
			background-color: #00000036;
			border-radius: 0 0 10px 10px;

			& .glitch {
				color: #fff;
				font-family: 'Roboto', sans-serif;
				font-weight: 600;
				font-size: 18px;
				position: relative;

				&:before,
				&:after {
					content: 'Freelancer';
					color: #fff;
					position: absolute;
					top: 0;
					overflow: hidden;
				}

				&:before {
					left: 6px;
					text-shadow: -1px 0 red;
					animation: glitch-before 1s linear 0s infinite alternate;
				}

				&:after {
					left: -6px;
					text-shadow: -1px 0 blue;
					animation: glitch-after 1s linear 0s infinite alternate;
				}
			}
		}

		&__menu {
			display: flex;
			justify-content: space-between;
			height: 18px;
			align-self: center;
			width: 455px;

			.links {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 80%;
				height: 100%;

				&__item {
					a {
						text-transform: uppercase;
						font-family: $text-font;
						letter-spacing: 1px;
						font-size: 14px;
						color: #fff;
						transition: color 0.2s ease-in;
					}

					a:hover {
						text-shadow: 0 0 10px rgb(119, 80, 80);
						color: rgb(143, 118, 118);
					}
				}
			}

			.social {
				display: flex;
				justify-content: space-between;
				width: 12%;
				height: 100%;

				&__item {
					height: 100%;
					background-size: contain;
					background-repeat: no-repeat;
					width: 20px;
					transition: all 0.3s ease;
					border-radius: 50%;

					a {
						width: 100%;
						height: 100%;
						display: inline-block;
					}
				}

				&__item:first-child {
					background-image: url(img/Facebook.png);
				}

				&__item:first-child:hover {
					background-image: url(img/Facebook2.png);
				}

				&__item:last-child {
					background-image: url(img/Twitter.png);
				}

				&__item:last-child:hover {
					background-image: url(img/Twitter2.png);
				}
			}
		}
	}

	& .main {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: space-between;
		width: 50%;
		height: 230px;
		text-shadow: 3px 3px 2px #000;
		font-family: $text-font;
		color: #fff;
		border-left: 1px solid #fff;
		border-bottom: 1px solid #fff;

		&__title {
			font-size: 48px;
			margin-left: 10px;
		}

		&__text {
			height: auto;
			color: #fff;
			width: 50%;
			margin-left: 20px;
		}

		&__btn {
			z-index: 2;
			width: 40%;
			border-radius: 0 15px 0 0;
			height: 20px;
			transition: all 0.2s ease;
			box-sizing: border-box;
			letter-spacing: 1px;
		}

		&__btn:hover {
			width: 40%;
			color: #fff;
			background: #000;
			filter: blur(0.5px);
			text-shadow: 0px 0px 10px #fff;
			border-radius: 0 15px 0 0;
			height: 20px;
		}
	}
}
